* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.profile-image img{
    border-radius: 50%;
    height: 150px;
}
